html, body {
	height: 100%;
	width: 100%;
}

* {
	margin:0;
	padding:0;
}

#result {
	width:100%;
	height:100%;
	border-width: 0;
	border-style: none;
}

#floatingBare {
	position: fixed;
	top: 0;
	right: 4px;
	width: 20px;
}

#floatingBare a {
	display: block;
	width: 20px;
  	height: 20px;
}

#floatingBare button.icon {
	background-color: transparent;
	display: block;
}

#fieldset {
	padding-left:30px;
	padding-right:30px;
	border-bottom: 2px black solid;
}
/**********/
/** Tabs **/
#tabs {
	margin-top: 2px;
	width: 100%;
	border-bottom: 1px solid black;
}

#tabs a {
	margin-right: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid black;
	color : white;
	background-color: gray;
}

#tabs a.selected {
	color : black;
	background-color: transparent;
	border-bottom: 1px solid white;
}

#tab-container {
	border:  1px solid black;
	border-top:  0;
	border-bottom:  0;
}

/******************/
/** Tab Content **/
.tab-content.selected {
	display: block;
}
.tab-content {
	display: none;
}

/******************/
/** Tab1 Content **/
#tab1 label {
	display: inline-block;
	width: 32%;
}
#tab1 label.doubleDiv {
	display: inline-block;
	width: 65%;
}

#tab1 label button {
	width: 14px;
}

#tab1 label span {
	text-align: right;
	display: inline-block;	
	width: 75px;
}

#tab1 label input[type="text"] {
	display: inline-block;	
	width: calc(100% - 101px);
}


/** CUSTOM **/

.head, .col.c3 a {
	text-align: center;
	font-size: small;
}

.head {
	font-weight: bold;
}

.row{
  width:100%;
  border-bottom: 1px solid gray;
}

.col {
	display: inline-block;
	box-sizing: content-box;
  	vertical-align:top;
  	width:200px;
}

.col.c1 {
	width:25%;
}

.col.c1 span {
	width: 37px;
    display: inline-block;
}

.col.c1 input {
	width: calc(100% - 45px);
    display: inline-block;
}

.col.c2 {
 	width:calc(74% - 50px);
}

.col.c3 {
 	width:50px;
 	vertical-align: middle;
}

.col.c3 a {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

textarea {
    display: block;
    width: 100%;
    max-width: 100%;
}

/*model*/
#custom-model .col.c3 .addCustomField {
	display : block;
}
#custom-model .col.c3 .removeCustomField {
	display : none;
}

.col.c3 .addCustomField {
	display : none;
}
.col.c3 .removeCustomField {
	display : block;
}

/**  Save Config **/
.div50 {
	vertical-align: top;
	display: inline-block;
	width : 49%;
}

.sub-title {
	font-size: large;
	font-weight: bold;
}

.scroll-container {
	overflow-y: scroll;
}

#loadConfigurations .model {
	display: none;
}

/** CSS Icone **/
/** Big thanks to http://cssicon.space **/

/* refresh Icone */
.refresh.icon {
  color: #000;
  position: absolute;
  margin-left: 4px;
  margin-top: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  border-left: solid 1px transparent;
  border-right: solid 1px currentColor;
}

.refresh.icon:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 9px;
  width: 3px;
  height: 3px;
  border-top: solid 1px currentColor;
  border-left: solid 1px currentColor;
  -webkit-transform: rotate(-22.5deg);
          transform: rotate(-22.5deg);
}

/* eye Icone */
.eye-solid.icon {
  color: #000;
  position: absolute;
  margin-left: 3px;
  margin-top: 3px;
  width: 12px;
  height: 12px;
  border-radius: 70% 15%;
  border: solid 1px currentColor;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.eye-solid.icon:before {
  content: '';
  position: absolute;
  left: 1px;
  top: 1px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: solid 1px currentColor;
  background-color: currentColor;
}


.clear{
	margin-left: 3px;
  	margin-top: 3px;
	position:relative;
	border-radius: 50%;
    border: solid 2px #2c2c2c;
	width: 11px;
  	height: 11px;
}

.clear:before{
    display: block;
    content: "";
    position: absolute;
    width: 2px;
    height: 12px;
    left: 5px;
    background-color: black;
    transform: rotate(-45deg);
}
